{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js" %}">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static "img/fav.png" %}">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Test Shop</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static "css/linearicons.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
	<link rel="stylesheet" href="{% static "css/nice-select.css" %}">
	<link rel="stylesheet" href="{% static "css/nouislider.min.css" %}">
	<link rel="stylesheet" href="{% static "css/ion.rangeSlider.css" %}" />
	<link rel="stylesheet" href="{% static "css/ion.rangeSlider.skinFlat.css" %}" />
	<link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static "css/main.css" %}">
</head>

<body>
	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="{% url 'main' %}"><img src="{% static "img/logo.png" %}" alt=""><h2 style="display: inline-block">Test Shop</h2></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Каталог</a>
								{% include 'shopcategories.html' with spisok=Category_0 %}
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О нас</a></li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Кабинет</a></li>
                                {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Авторизация</a></li>
                                {% endif %}
							<li class="nav-item"><a href="{% url 'korzina' %}" class="nav-link">Корзина</a></li>
					</div>
				</div>
			</nav>
		</div>

	</header>
	<!-- End Header Area -->
{% block center %}
	<!-- start banner Area -->
    {% if novosti %}
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel" id="myCarousel">
						<!-- single-slide -->
                        {% for news in novosti %}
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>{{ news.name }}</h1>
									<p>{{ news.shorttext }}</p>
									<div class="add-bag d-flex align-items-center">
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{% static news.news_img %}" alt="">
								</div>
							</div>
						</div>
                        {% endfor %}
                    <!-- Left and right controls -->
					</div>
				</div>
			</div>
		</div>
	</section>
    {% endif %}
	<!-- End banner Area -->



	<!-- Start category Area -->
    <br><hr><br><h1 class="text-center">Categories</h1><br><hr><br>
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static "img/category/c1.jpg" %}" alt="">
								<a href="{% url 'one_category' id=cat_pc.id %}">
									<div class="deal-details">
										<h6 class="deal-title">{{ cat_pc.name }}</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static "img/category/c2.jpg" %}" alt="">
								<a href="{% url 'one_category' id=cat_phones.id %}">
									<div class="deal-details">
										<h6 class="deal-title">{{ cat_phones.name }}</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static "img/category/c3.jpg" %}" alt="">
								<a href="{% url 'one_category' id=cat_childs.id %}">
									<div class="deal-details">
										<h6 class="deal-title">{{ cat_childs.name }}</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{% static "img/category/c4.jpg" %}" alt="">
								<a href="{% url 'one_category' id=cat_kitchen.id %}">
									<div class="deal-details">
										<h6 class="deal-title">{{ cat_kitchen.name }}</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
    <br><hr><br>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
						</div>
					</div>
				</div>
                <hr><br>
				<div class="row">
					{% for item in prods %}
                            {% include 'one_small_product.html' with product=item %}
                    {% endfor %}
				</div>
			</div>
		</div>

	<!-- end product Area -->


{% endblock %}
	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>О проекте</h6>
						<p>
							Мой первый бэкенд сайта
						</p>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="{% static "img/i1.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i2.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i3.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i4.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i5.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i6.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i7.jpg" %}" alt=""></li>
							<li><img src="{% static "img/i8.jpg" %}" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Паучок в паутине</h6>
						<p>Ссылки на мои соцсети</p>
						<div class="footer-social d-flex align-items-center">
							<a href="https://www.facebook.com/profile.php?id=100008409128505"><i class="fa fa-facebook"></i></a>
                            <a href="https://m.vk.com/id330916798"><i class="fa fa-vk"></i></a>
							<a href="https://www.linkedin.com/in/konovalovkdev/"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="{% static "js/vendor/jquery-2.2.4.min.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
	<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
	<script src="{% static "js/jquery.sticky.js" %}"></script>
	<script src="{% static "js/nouislider.min.js" %}"></script>
	<script src="{% static "js/countdown.js" %}"></script>
	<script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "js/owl.carousel.min.js" %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static "js/gmaps.min.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
</body>

</html>