{% load static %}
<div class="col-lg-3 col-md-6">
    <div class="single-product">
        <img class="img-fluid" src="{% static product.image_url %}" alt="">
        <div class="product-details">
            <h6><a href={% url 'one_product' id=product.id %}>{{ product.name }}</a></h6>
            <div class="price">
                <h6>{{ product.price }}</h6>
                {% if product.prev_price %}
                    <h6 class="l-through">{{ product.prev_price }}</h6>
                {% endif %}
            </div>
            <div class="prd-bottom">
{#                <a href="" class="social-info">#}
{#                    <span class="ti-bag"></span>#}
{#                    <p class="hover-text">add to bag</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-heart"></span>#}
{#                    <p class="hover-text">Wishlist</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-sync"></span>#}
{#                    <p class="hover-text">compare</p>#}
{#                </a>#}
{#                <a href="" class="social-info">#}
{#                    <span class="lnr lnr-move"></span>#}
{#                    <p class="hover-text">view more</p>#}
{#                </a>#}
            </div>
        </div>
    </div>
</div>