{% extends 'index.html' %}
{% load static %}
{% block center %}
    <section class="category-area">
        <div class="container">
            <div class="row features-inner">
                <div class="col-lg-6 text-left">
                    <div class="section-title">
                        <br><br><br><br><br>
                        {% for cat in product.prods_category_list %}
                            <a href="{% url 'one_category' id=cat.id %}">{{ cat.name }}</a>
                            {% if not forloop.last %}
                                ->
                            {% endif %}
                        {% endfor %}: {{ product.name }}<br><br>
                        <h2>{{ product.name }}</h2><br>
                        <img class="img-fluid" src="{% static product.image %}" alt=""><br><br>
                        <p><b style="color: #545b62">Цена:</b>{{ product.price }}</p>
                        {% if product.prev_price %}
                            <p><b style="color: #545b62">Цена ранее: </b><del style="color: #545b62">{{ product.prev_price }}</del></p>
                        {% endif %}<br>
                        <p><b style="color: #545b62">Brand: </b>{{ product.brand.name }}</p><br>
                        {% autoescape off %}
                        <p><b style="color: #545b62">О товаре: </b></p><br>{{ product.description }}<br>
                        {% endautoescape %}

                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="action" value="add_to_cart">
                            <button>В корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}